## <font color="maroon"><h4 align="center">Pandas Group By</font>

**In this tutorial we are going to look at weather data from various cities and see how group by can be used to run some analytics.**

In [2]:
import pandas as pd
df=pd.read_csv('weather_by_cities.csv')
df

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

### For this dataset, get following answers,
#### 1. What was the maximum temperature in each of these 3 cities?


#### 2. What was the average windspeed in each of these 3 cities?

In [3]:
x=df.groupby('city')
x['temperature'].max()

city
mumbai      92
new york    36
paris       54
Name: temperature, dtype: int64

In [4]:
x=df.groupby('city')
x['windspeed'].mean()

city
mumbai       9.25
new york     8.00
paris       12.75
Name: windspeed, dtype: float64

**DataFrameGroupBy object looks something like below,**

<img src="group_by_cities.png">

In [12]:
for day, data in x :
    print(f'the {day} city')
    
    print("data:",data)
    print("\n")

the mumbai city
data:         day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain


the new york city
data:         day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny


the paris city
data:          day   city  temperature  windspeed   event
8   1/1/2017  paris           45         20   Sunny
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy

**This is similar to SQL,**

**SELECT * from weather_data GROUP BY city**

In [14]:
x.get_group("mumbai")

        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain

In [ ]:
x.max()

In [ ]:
x.mean()

**This method of splitting your dataset in smaller groups and then applying an operation 
(such as min or max) to get aggregate result is called Split-Apply-Combine. It is illustrated in a diagram below**

<img src="split_apply_combine.png">

In [ ]:
g.min()

In [ ]:
g.describe()

In [ ]:
g.size()

In [ ]:
g.count()

In [ ]:
%matplotlib inline
g.plot()

<h4>Group data using custom function: Let's say you want to group your data using custom function. Here the requirement is to create three groups<h4>
<ol>
    <li>Days when temperature was between 80 and 90</li>
    <li>Days when it was between 50 and 60</li>
    <li>Days when it was anything else</li>
</ol>

For this you need to write custom grouping function and pass that to groupby

In [ ]:
def grouper(df, idx, col): 
    if 2 <= df[col].loc[idx] <= 5:
        return '2-5'
    elif 6 <= df[col].loc[idx] <= 10:
        return '6-10'
    else:
        return 'others'

In [ ]:
g = df.groupby(lambda x : grouper(df, x, 'windspeed'))
g

In [ ]:
g.get_group("6-10")