# <font color="purple"><h3 align="center">Pandas Concatenate Tutorial</h3></font>

## <font color='blue'>Basic Concatenation</font>

In [28]:
import pandas as pd

india_weather = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
    "humidity": [80, 60, 78]
})
india_weather

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78

In [29]:
us_weather = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})
us_weather

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [30]:
df = pd.concat([india_weather, us_weather])
df

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

## <font color='blue'>Ignore Index</font>

In [31]:
df = pd.concat([india_weather, us_weather], ignore_index=True)
df

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78
3  new york           21        68
4   chicago           14        65
5   orlando           35        75

## <font color='blue'>Concatenation And Keys</font>

In [32]:
df = pd.concat([india_weather, us_weather], keys=["india", "us"])
df

             city  temperature  humidity
india 0    mumbai           32        80
      1     delhi           45        60
      2  banglore           30        78
us    0  new york           21        68
      1   chicago           14        65
      2   orlando           35        75

In [33]:
df.loc["us"] #location

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [8]:
df.loc["india"]

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78

## <font color='blue'>Concatenation Using Index</font>

In [36]:
temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
}, index=[4,5,2])
temperature_df

       city  temperature
4    mumbai           32
5     delhi           45
2  banglore           30

In [37]:
windspeed_df = pd.DataFrame({
    "city": ["delhi","mumbai"],
    "windspeed": [7,12],
}, index=[1,0])
windspeed_df

     city  windspeed
1   delhi          7
0  mumbai         12

In [38]:
df = pd.concat([temperature_df,windspeed_df],axis=1)
df

       city  temperature    city  windspeed
0       NaN          NaN  mumbai       12.0
1       NaN          NaN   delhi        7.0
2  banglore         30.0     NaN        NaN
4    mumbai         32.0     NaN        NaN
5     delhi         45.0     NaN        NaN

## <font color='blue'>Concatenate dataframe with series</font>

In [39]:
s = pd.Series(["Humid","Dry","Rain"], name="event")
s = list(s)
s = pd.Series(s)

In [40]:
df = pd.concat([temperature_df,s],axis=1)
df

       city  temperature      0
0       NaN          NaN  Humid
1       NaN          NaN    Dry
2  banglore         30.0   Rain
4    mumbai         32.0    NaN
5     delhi         45.0    NaN