# <font color="purple"><h3 align="center">DataFrame Basics Tutorial</h3></font>

## **Dataframe is most commonly used object in pandas. It is a table like datastructure containing rows and columns similar to excel spreadsheet**

In [1]:
import pandas as pd
from pandas import DataFrame
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Sunny', 'Sunny']
}

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [2]:
df.shape # rows, columns = df.shape

(6, 4)

## <font color='blue'>Rows</font>

In [52]:
df.head(2) # df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [53]:
df.tail(2) # df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4  Sunny
5  1/6/2017           31          2  Sunny

In [3]:
df[3:5]

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4  Sunny

## <font color='blue'>Columns</font>

In [4]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [56]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4    Sunny
5    Sunny
Name: event, dtype: object

In [5]:
str(df['day'])

'0    1/1/2017\n1    1/2/2017\n2    1/3/2017\n3    1/4/2017\n4    1/5/2017\n5    1/6/2017\nName: day, dtype: object'

In [6]:
df[['day','event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017  Sunny
5  1/6/2017  Sunny

## <font color='blue'>Operations On DataFrame</font>

In [59]:
df['temperature'].max()

35

In [3]:
len(df[ df['temperature']>30 ])

4

In [11]:
df['day'][df['temperature'] == df['temperature'].min()] # Kinda doing SQL in pandas

3    1/4/2017
Name: day, dtype: object

In [12]:
df['temperature'].mean() # Kinda doing SQL in pandas

30.333333333333332

In [13]:
df['temperature'].std()

3.8297084310253524

In [64]:
df['event'].max() # But mean() won't work since data type is string

'Sunny'

In [14]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

**Google pandas series operations to find out list of all operations**
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

## <font color='blue'>set_index</font>

In [15]:
df.set_index('event', inplace=True)
df[2:4]

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7

In [16]:
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Sunny  1/5/2017           32          4
Sunny  1/6/2017           31          2

In [4]:
df.set_index('day', inplace=True)

In [18]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [70]:
df.loc['1/2/2017']

temperature    35
windspeed       7
Name: 1/2/2017, dtype: int64

In [75]:

df.head()

   level_0  index       day  temperature  windspeed
0        0      0  1/1/2017           32          6
1        1      1  1/2/2017           35          7
2        2      2  1/3/2017           28          2
3        3      3  1/4/2017           24          7
4        4      4  1/5/2017           32          4

In [32]:
df.set_index('event',inplace=True) # this is kind of building a hash map using event as a key
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Sunny  1/5/2017           32          4
Sunny  1/6/2017           31          2

In [36]:
df.loc['Sunny']

            day  temperature  windspeed
event
Sunny  1/2/2017           35          7
Sunny  1/5/2017           32          4
Sunny  1/6/2017           31          2